/* sheared-style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
nav {
    width: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px; 
    box-sizing: border-box;
}
.nav-logo {
    display: flex;
    align-items: center;
}



nav .menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header section{
    background: url(./Resource/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#h1-color{
    color: #06b650;
}
#h1-scolor{
    color: white;
}
#hero-p{
    color: white;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 16px;
}
.hero-detail h1{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    padding-top: 16px;
}
.hero-detail p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #469165;
    font: medium;
}
.hero-detail button{
    color: #469165;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
    align-items: center;
    gap: 6px;
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
#hero-btn-one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.for-hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#ea{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 250px;
    background-color: white;
    border-radius: 1000px;
    height: 42px;
}
.hero-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
